@tailwind components;

@layer components {
  .alert {
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
    @apply relative w-full rounded-lg border p-4 [&:has(svg)]:pl-11 [&>svg+div]:translate-y-[-1px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4;
  }
  .alert.error,
  .alert.error svg {
    color: hsl(var(--destructive));
  }
  .alert.error {
    border-color: hsl(var(--destructive) / 0.5);
  }
  .alert svg {
    color: hsl(var(--foreground));
  }

  .alert-title {
    @apply mb-1 font-medium leading-none tracking-tight;
  }

  .alert-description {
    @apply text-sm [&_p]:leading-relaxed;
  }
}
